#body{
    height:10000px;
    background: red;
}
.navbar-nav.navbar-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#hero{
    padding-top: 10vh;
}