@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --color1: #FFF6CD;
    --color2: #FF95C5;
    --color3: #6A82FB;
    --color4: #FC5C7D;
}

* {
    padding: 0; /*Resetting inner padding*/
    margin: 0; /*Resetting outer padding*/
}

body {
    /*100 percent of the active Viewport geometry height*/
    height: 100vh;
    background: #F5E8C7;
}

.pageContainer {
    height: 100vh;
    background: whitesmoke;
    display: grid; /*Setting the Grid system as layout system for the Children elements of the page, which is Rows by default to each element*/
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.item {
    font-family: 'Ubuntu', sans-serif;
}

.navBar {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    background: linear-gradient(to right, var(--color1),var(--color2), transparent);
}

.footer {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
    background: linear-gradient(to right, var(--color1),var(--color2), transparent);
}

.topBar {
    grid-column: 2 / span 10;
    grid-row: 2 / span 1;
    background: var(--color2);
}

.l-sPanel {
    grid-column: 1 / span 1;
    grid-row: 2 / span 10;
    background: radial-gradient(var(--color3),var(--color4),transparent);
    background-size: 300% 300%;
}

.r-sPanel {
    grid-column: 12 / span 1;
    grid-row: 2 / span 10;
    background: radial-gradient(var(--color3),var(--color4),transparent);
    background-size: 300% 300%;
}

.bodyPart {
    grid-column: 2 /span 10;
    grid-row: 3 / span 9;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myUl{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    padding-right: 1vw;
    list-style: none;
}
